channels:
{% for channel in anaconda_use_channels %}
  - {{ channel }}
{% endfor %}
channel_priority: {{ anaconda_enable_channel_priority | bool | lower }}
auto_update_conda: {{ anaconda_enable_self_update | bool | lower }}
