channels:
  - default
{% for package in anaconda_add_channels %}
  - {{ package }}
{% endfor %}
channel_priority: {{ anaconda_enable_channel_priority | bool | lower }}
auto_update_conda: {{ anaconda_enable_self_update | bool | lower }}
